<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ca.footeware.converter/src/ca/footeware/converter/Converter.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH"/>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.footeware.converter.Converter"/>
    <listAttribute key="org.eclipse.jdt.launching.MODULEPATH"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ca.footeware.converter"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ca.footeware.converter"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-p ca.footeware.converter:ca.footeware.converter.temperature:ca.footeware.converter.length:/home/craig/Downloads/swt.jar&#10; &#10;-m ca.footeware.converter/ca.footeware.converter.Converter"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/craig/git/ca.footeware.converter"/>
</launchConfiguration>
